# Course Outline

In [1]:
from IPython.display import IFrame
IFrame ("./Course Outline.pdf", width = 800, height = 400)

# Week 1: Introduction
 * Brief Introduction: Aims, Objectives and Deliverables
 * Python Setup
 * Python Basics: Variables, Operators, Strings, Input

## Brief Introduction:
* Why Programming? 

**Programming improves persepective to problem solving**
> Note that, It is difficult for people to conceptualize structures they can’t describe, verbally or in writing 

* Types of Programming Language
    1. High Level Language: Basic, Python, Java, C# etc
    2. Low Level Language


* Why Python?

**Python is a general-purpose, beginner friendly language, which can be used to build virtually anything. It can be used for web development, desktop app development, gaming, data analysis, Artificial intellingence, scientific computing etc.**

>The larger a community, the more likely you'd get help and the more people will be building useful tools to ease the process of development.


* Python Setup

For this training, we will be using one of the most popular framework used for data science and machine learning known as **Anaconda**. You can download the correct version of anaconda <a href="https://www.anaconda.com/distribution/">here </a>as it relates to your op erating system – Windows, Mac or Linux.

<img src= './Capture.jpg', width= 1000, height = 60000>

# Python Basics

## OPERANDS, OPERATORS and EXPRESSIONS

**OPERANDS: ** 

**OPERATORS: ** Theses are signs and symbols used to manipulate values of operands

**EXPRESSINS: **

Types of Operator

* Arithmetic Operators
    +, -, /, %, //, 
* Comparison (Relational) Operators
    ==, != or <>, >, <, >=, <=
* Assignment Operators
    =, +=, -+, *=, %=, /=
* Logical Operators
    AND, OR, not
* Bitwise Operators
    and, or, Xor, complement

https://www.tutorialspoint.com/python/python_basic_operators.htm

**Arithmetic operations**

In [2]:
6 + 4

10

In [3]:
6 - 4

2

In [4]:
6 / 4

1.5

In [5]:
6 // 4

1

In [6]:
6 * 4

24

In [7]:
6 ** 4

1296

In [8]:
6 % 4

2

**Relational Operations**

In [9]:
 6 == 4

False

In [10]:
6 != 4

True

In [11]:
6 > 4

True

In [12]:
6 < 4

False

In [13]:
6 >= 4

True

In [14]:
6 <= 4

False

### What if we have no idea of the numbers to  be added, subtracted, multiplied or divided?

Then, we need boxes (memory locations) to recieve our unknown numbers, and at execution time, fetch the numbers to perform the required arithmetic task. The name given to the memory location is called **Variable**

<table>
<tr>
<td><img src='var.jpg' width= 400, height = 200></td><td><img src='box.jpg' width= 400, height = 200></td> <td><img src='box2.jpg' width= 400, height = 200></td>
</tr>
<tr>
    <td></td>
    <td> <center> X <br> Y </td> 
    <td> <center> X = 42 <br> Y = 78 </td>
</tr>   
</table>

In [15]:
i = 42
print(i)

42

In [16]:
A = 50
print (A)

50

To know the location pointed to by each variable, an **id** function can be used

In [17]:
print(id(i))
print(id(A))

1888449280
1888449536

_NOTE: The memory location named **i** is dynamic and could be made to store something differnt from 42, say 100_

In [18]:
i = i+2
print(i)

44

In [19]:
i = A

print(i)

50

**_Therefore,_**

> A **variable** is an identifier that reference a memory location whose value can be changed during the execution of a program

In [20]:
print(id(i))
print(id(A))

1888449536
1888449536

###### NOTE: There the rules for naming valid variables

# PYTHON DATA TYPES

The basic data types in Python are:
* Integers
* Floating-Point Numbers
* Complex Numbers
* Strings
* Boolean Type

>Data Type Conversion can be done easily with python

**Integer**

In [21]:
print(10, 1000, 3000)
print (A)

10 1000 3000
50

**Floating Point**

In [22]:
B = A/3
print(B)

print(4.2e-3)
print(.4e7)

16.666666666666668
0.0042
4000000.0

**Complex Number**

In [23]:
C1= 3+5j
C2 = 1+8j
C = C1 +C2
print(C)

(4+13j)

**String**
A string is defined as sequence of character enlosed in a quote.

In [24]:
D= 'Hello World'
s= "This is also a string"
print(D)

Hello World

_Note: If a string itself contains a quote, for instance, '**I'm a boy**', delimit the string with another quote_

In [25]:
S = 'It sound"s great!'
print (S)
print(s)

It sound"s great!
This is also a string

**Triple-Quoted String**

In [26]:
MS = """This is a
string that spans
across several lines
It is called, Triple-Quoted String"""

print(MS)

This is a
string that spans
across several lines
It is called, Triple-Quoted String

<b>String Escape Sequences</b>
These combine different characters with backslash(\) to perform some task. The most commenly used ones are : 

* \n: New line
* \\: Backslash (\)
* \': Single quote (')
* \": Double quote (")
* \r: Carriage Return (CR)
* \t: Horizontal Tab (TAB)

In [34]:
s1 = "This is a \n string that spans \n across several lines \n using NEW LINE escape sequence"
s2 = "I need this string\ to reflect a backslash"
s3 = 'This is a string\' with single quote'
s4 = 'This is a string\" with single quote'
s5 = 'This is a string\t with horizontal tab'

print (s1)
print (s2)
print (s3)
print (s4)
print(s5)

This is a
 string that spans
 across several lines
 using NEW LINE escape sequence
I need this string\ to reflect a backslash
This is a string' with single quote
This is a string" with single quote
This is a string	 with horizontal tab

<b>String Indexing</b>
Since Strings are array of character, string elements (characters) are accessible with the use of indices. 

The first element of a string has index 0
<img src='string.jpg' width= 400, height = 200>

<b>String Slicing</b>
Accessing characters of a string through indexing

In [28]:
print(D[0], D[-1])

p = D[6:11]
print(p)

H d
World

> NOTE: Indexing starts at 0 and upperbound is always excluded

**String Concatenation**
This is the process of joining two (2) or more strings together

In [29]:
S_Concat = D + p
print (S_Concat)

Hello WorldWorld

In [30]:
len(D)

11

**String Methods**
Python has a set of built-in methods that you can use on strings. These methods return new values without changing the original string.

| Method | Description
| --- | --- | 
|capitalize()	|Converts the first character to upper case
|casefold()	| Converts string into lower case
|center()	| Returns a centered string
|count()	| Returns the number of times a specified value occurs in a string
|encode()	| Returns an encoded version of the string
|endswith()	| Returns true if the string ends with the specified value
|expandtabs()	| Sets the tab size of the string
|find()	| Searches the string for a specified value and returns the position of where it was found
|format()	| Formats specified values in a string
|format_map()	| Formats specified values in a string
|index()	| Searches the string for a specified value and returns the position of where it was found
|isalnum()	| Returns True if all characters in the string are alphanumeric
|isalpha()	| Returns True if all characters in the string are in the alphabet
|isdecimal()	| Returns True if all characters in the string are decimals
|isdigit()	| Returns True if all characters in the string are digits
|isidentifier()	| Returns True if the string is an identifier
|islower()	| Returns True if all characters in the string are lower case
|isnumeric()	| Returns True if all characters in the string are numeric
|isprintable()	| Returns True if all characters in the string are printable
|isspace()	| Returns True if all characters in the string are whitespaces
|istitle()	| Returns True if the string follows the rules of a title
|isupper()	| Returns True if all characters in the string are upper case
|join()	 | Joins the elements of an iterable to the end of the string
|ljust()	| Returns a left justified version of the string
|lower()	| Converts a string into lower case
|lstrip()	| Returns a left trim version of the string
|maketrans()	| Returns a translation table to be used in translations
|partition()	| Returns a tuple where the string is parted into three parts
|replace()	| Returns a string where a specified value is replaced with a specified value
|rfind()	| Searches the string for a specified value and returns the last position of where it was found
|rindex()	| Searches the string for a specified value and returns the last position of where it was found
|rjust()	| Returns a right justified version of the string
|rpartition()	| Returns a tuple where the string is parted into three parts
|rsplit()	| Splits the string at the specified separator, and returns a list
|rstrip()	| Returns a right trim version of the string
|split()	| Splits the string at the specified separator, and returns a list
|splitlines()	| Splits the string at line breaks and returns a list
|startswith()	| Returns true if the string starts with the specified value
|strip()	| Returns a trimmed version of the string
|swapcase()	| Swaps cases, lower case becomes upper case and vice versa
|title()	| Converts the first character of each word to upper case
|translate()	| Returns a translated string
|upper()	| Converts a string into upper case
|zfill()	| Fills the string with a specified number of 0 values at the beginning

# Assignment 1

With at least 2 examples in each case, implement 10 string methods

**Boolean**

In [31]:
t = True
f = False
print(t)
print (f)

True
False

In [32]:
a= 'DSN'
b = 'Nigeria'
c= a == b
print(c)

False

>To determine the data type of an object, we can use

>**type(_objectname_)**

In [33]:
print(type(A))
print(type(B))
print(type(MS))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [1]:
Loc1= input()

5

In [39]:
print(Loc1)

3